Source: n4d-pamnss
Section: misc
Priority: standard
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 10), n4d-dev
Standards-Version: 4.1.2

Package: n4d-pamnss
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},python3-jinja2,libpam-ldap,libnss-ldapd
Description:  N4D Plugin for pamnss
 Pamnss plugin configuration for n4d 
